<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder
            location="main/resources/config.properties" />

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <!-- MyBatis sqlSessionFactory 配置 mybatis-->
    <bean id="sqlMapClient" class="main.java.com.bocsoft.deploy.service.serviceIml.H2o3SqlMapClientFactoryBean">
        <property name="configLocation" value="test/resources/SqlMapConfig.xml"/>
        <!--为Spring创建的SqlMapClient对象指定数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>